:root {
  --clr-Dark_cyan: hsl(158, 36%, 37%);
  --clr-Cream: hsl(30, 38%, 92%);
  --clr-Ult_Dark_Blue: hsl(212, 21%, 14%);
  --clr-Dark_Grayish_Blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --ff-main: "Montserrat", sans-serif;
  --ff-alt: "Fraunces", serif;
  --fw-bold: 700;
  --fw-thin: 500;
  --fs: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-Cream);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

@media screen and (width <= 767px) {
  body {
    margin: 15px;
  }
}

.wrapper {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (width >= 767px) {
  .wrapper {
    max-width: 750px;
    width: 100%;
  }
}

@media screen and (width <= 767px) {
  .wrapper {
    flex-direction: column;
  }
}

@media screen and (width >= 767px) {
  .wrapper picture {
    max-width: 50%;
  }
}

.wrapper picture img,
.wrapper picture source {
  max-width: 100%;
  display: block;
}

.text-wrapper {
  background-color: var(--clr-white);
  padding: 2rem 2.5rem;
}

@media screen and (width >= 767px) {
  .text-wrapper {
    max-width: 50%;
  }
}

@media screen and (width <= 767px) {
  .text-wrapper {
    padding: 1.2rem 1.5rem;
  }
}

.text-wrapper h3 {
  color: var(--clr-Dark_Grayish_Blue);
  letter-spacing: 4px;
  font-weight: var(--fw-thin);
  font-family: var(--ff-main);
  font-size: var(--fs);
  text-transform: uppercase;
}

.text-wrapper .info-heading {
  font-family: var(--ff-alt);
  font-weight: var(--fw-bold);
  font-size: 42px;
  text-transform: capitalize;
  margin: 30px 0 40px;
  line-height: 1.1;
}

@media screen and (width <= 767px) {
  .text-wrapper .info-heading {
    font-size: 32px;
  }
}

.text-wrapper .info-content {
  color: var(--clr-Dark_Grayish_Blue);
  font-weight: var(--fw-thin);
  font-family: var(--ff-main);
  font-size: var(--fs);
  margin-bottom: 30px;
  line-height: 1.7;
}

.text-wrapper .price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 40px;
}

.text-wrapper .price p:first-child {
  font-size: 36px;
  color: var(--clr-Dark_cyan);
  font-family: var(--ff-alt);
}

.text-wrapper .price p:last-child {
  color: var(--clr-Dark_Grayish_Blue);
  font-family: var(--ff-main);
  font-weight: var(--fw-thin);
}

.wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  background-color: var(--clr-Dark_cyan);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-family: var(--ff-main);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: var(--fs);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrapper button:hover {
  background-color: var(--clr-Ult_Dark_Blue);
}

.wrapper button img {
  margin-right: 20px;
  width: 20px;
}
